/* _content/InsightLogs.UI/Components/Dashboard/QuantityDescriptionCard.razor.rz.scp.css */
body[b-i260mxvdi9] {
}

[b-i260mxvdi9] .dashboard-card {
    max-width: 400px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: lightgrey;
    border-color: hsl(var(--border));
    padding: 1.5rem;
}

    [b-i260mxvdi9] .dashboard-card:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

[b-i260mxvdi9] .card-number {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

[b-i260mxvdi9] .card-title {
    font-size: .875rem 14px;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

:root[b-i260mxvdi9] {
    --border: 0 0% 89.8%;
}
/* _content/InsightLogs.UI/Components/Layout/MainLayout.razor.rz.scp.css */
#blazor-error-ui[b-axbp4iymig] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-axbp4iymig] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
